
body {
    font-family: monospace;
    font-style: normal;
    text-align: center;
    height: 100dvh;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s ease;
}
button {
    font-family: monospace;
    padding: 2px 10px;
}

.game {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
}

.controls {
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    min-width: 362px;
}

body[data-state="solved"] {
    background-color: rgb(216, 245, 255);
}

.title {
    font-size: 2.5em;
    margin: 0;
    color: #000;
}

.myname {
    font-size: 1.5em;
    margin-top: 0;
    color: #000;
}

.notice {
    opacity: 0;
    margin: 0;
    transition: opacity 0.3s ease;
}

body[data-state="solved"] .notice {
    opacity: 1;
}

.symbol-moon,
.symbol-sun {
    visibility: hidden;
}

[data-ok="1"][data-value="0"]>.symbol-moon {
    visibility: visible;
}

[data-ok="1"][data-value="1"]>.symbol-sun {
    visibility: visible;
}

[data-base="1"]>rect {
    fill: #ddd;
}

svg {
    touch-action: manipulation;
}

.puzzle-selector{
    margin-top: 10px;
}